/* タイトルのバー */
.title{
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background: slateblue;
    color: white;
    padding: 0.5em 360px;
    /* border-color: azure; */
}

.message{
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}

.backButton{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}