<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='buy_main.css')}}">
    <title>possys -購入-</title>
</head>
<body>
    <div id="container">
        <a href="{{url_for('index')}}" class="title">possys</a>
        <br><br>
        <form action="nfcConfirm", method="get">
            <button name="value" class="item" value="10"> 10円</button>
            <button name="value" class="item" value="30"> 30円</button>
            <button name="value" class="item" value="50"> 50円</button>
            <button name="value" class="item" value="100">100円</button>
            <button name="value" class="item" value="170">170円</button>
            <button name="value" class="item" value="114514">その他</button>
        </form>
    </div>
</body>
</html>